body { /*definine fonte, margem, remove preenchimento do corpo da página e define cor de fundo*/
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffe6e6; 
}

header { /*definine cor, centraliza e adiciona preenchimento*/
  background-color: #ff99cc; 
  text-align: center;
  padding: 20px;
}

nav { /*define cor de fundo e preenchimento na barra de navegação*/
  background-color: #ffb3d1; 
  padding: 10px;
}

nav ul {/*remove marcadores, remove margem e preenchimento, flexibiliza o layout para os itens da lista centraliza*/
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li { /*Adiciona uma margem de 0 pixels no topo e base, e 10 pixels nas laterais dos itens da lista */
  margin: 0 10px; 
}

nav li a { /*define cor do texto, remove decoração do sublinhado, adiciona preenchimento e adiciona botão*/
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

nav li a:hover {
  background-color: #ffccdd; /* Rosa mais claro no hover */
}

section {
  padding: 20px;
}

h2 {
  color: #ff6699; /* Rosa escuro para os títulos das seções */
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

/*Estilo para campos de entrada*/
input[type="text"], 
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
 /*Estilo para botão de envio de formulário*/
input[type="submit"] {
  background-color: #ff6699; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/*Estilo de rodapé*/
footer {
  text-align: center;
  background-color: #ff99cc; 
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}